[req]
distinguished_name = req_distinguished_name
req_extensions     = v3_req
prompt             = no
[req_distinguished_name]
C  = VN
O  = UIP-POC
OU = infra
CN = uip-jdbc-client
[v3_req]
keyUsage         = digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
